<div>
  <%= @host.identity_url %> : <%= params[:site_url] %>
  <dl>
   <dh>Happies:</dh>
   <dd><%= @host.host_happies.by_guest(current_guest).count %>(yours) / <%= @host.host_happies.count %>(all)</dd>
  </dl>

  <% form_for Happy.new(:url => params[:site_url]) do |form| %>
    <%= form.hidden_field "url" %>
    <%= hidden_field_tag "identity_url", @host.identity_url %>
    <%= submit_tag "I'm happy" %>
  <% end %>

<% if current_guest.authenticated? %>
  OpenID: <%= current_guest.identity_url %>
<% else %>
  <% form_tag session_url, :target => "_top" do %>
    <label for="openid_identifier">OpenID:</label>
    <%= text_field_tag "openid_identifier" %>
    <%= hidden_field_tag "site_url", @site.uri %>
    <%= submit_tag '認証', :disable_with => "Signing in&hellip;" %>
  <% end %>    
<% end %>
</div>
