<div>
  <p>uri: <%= @site.uri %></p>
  <p>このサイトの happies: <%= @site.happies.count %></p>
  <p>あなたがこのサイトにあげた happies: <%= @site.happies.count(:conditions =>{:person_id => @guest}) %></p>
  <p>あなたが誰かにあげた happies: <%= @guest.happies.count %></p>
  <%#= debug session.keys %>

  <% form_for :happy do |form| %>
    <%= hidden_field_tag "uri", @site.uri %>
    <%= submit_tag "happy" %>
  <% end %>
</div>
